@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.z-index {
    z-index: 10;
}

.p-l-0 {
    padding-left: 0px;
}

.p-l-0:first-child {
    padding-left: 15px;
}